<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.advance.funding.mapper.funding.FundingPartnerMapper">
  <resultMap id="BaseResultMap" type="ai.advance.funding.bean.dto.FundingPartner">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
    <result column="legal_entity_name" jdbcType="VARCHAR" property="legalEntityName" />
    <result column="legal_entity_country" jdbcType="VARCHAR" property="legalEntityCountry" />
    <result column="legal_entity_province" jdbcType="VARCHAR" property="legalEntityProvince" />
    <result column="legal_entity_district" jdbcType="VARCHAR" property="legalEntityDistrict" />
    <result column="legal_entity_village" jdbcType="VARCHAR" property="legalEntityVillage" />
    <result column="legal_entity_address" jdbcType="VARCHAR" property="legalEntityAddress" />
    <result column="legal_entity" jdbcType="VARCHAR" property="legalEntity" />
    <result column="platform_entity" jdbcType="VARCHAR" property="platformEntity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, partner_code, legal_entity_name, legal_entity_country, legal_entity_province, 
    legal_entity_district, legal_entity_village, legal_entity_address, legal_entity, 
    platform_entity, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from funding_partner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from funding_partner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ai.advance.funding.bean.dto.FundingPartner">
    insert into funding_partner (id, partner_code, legal_entity_name, 
      legal_entity_country, legal_entity_province, 
      legal_entity_district, legal_entity_village, 
      legal_entity_address, legal_entity, platform_entity, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=BIGINT}, #{partnerCode,jdbcType=VARCHAR}, #{legalEntityName,jdbcType=VARCHAR}, 
      #{legalEntityCountry,jdbcType=VARCHAR}, #{legalEntityProvince,jdbcType=VARCHAR}, 
      #{legalEntityDistrict,jdbcType=VARCHAR}, #{legalEntityVillage,jdbcType=VARCHAR}, 
      #{legalEntityAddress,jdbcType=VARCHAR}, #{legalEntity,jdbcType=VARCHAR}, #{platformEntity,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="ai.advance.funding.bean.dto.FundingPartner">
    insert into funding_partner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnerCode != null">
        partner_code,
      </if>
      <if test="legalEntityName != null">
        legal_entity_name,
      </if>
      <if test="legalEntityCountry != null">
        legal_entity_country,
      </if>
      <if test="legalEntityProvince != null">
        legal_entity_province,
      </if>
      <if test="legalEntityDistrict != null">
        legal_entity_district,
      </if>
      <if test="legalEntityVillage != null">
        legal_entity_village,
      </if>
      <if test="legalEntityAddress != null">
        legal_entity_address,
      </if>
      <if test="legalEntity != null">
        legal_entity,
      </if>
      <if test="platformEntity != null">
        platform_entity,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="partnerCode != null">
        #{partnerCode,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityName != null">
        #{legalEntityName,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityCountry != null">
        #{legalEntityCountry,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityProvince != null">
        #{legalEntityProvince,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityDistrict != null">
        #{legalEntityDistrict,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityVillage != null">
        #{legalEntityVillage,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityAddress != null">
        #{legalEntityAddress,jdbcType=VARCHAR},
      </if>
      <if test="legalEntity != null">
        #{legalEntity,jdbcType=VARCHAR},
      </if>
      <if test="platformEntity != null">
        #{platformEntity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ai.advance.funding.bean.dto.FundingPartner">
    update funding_partner
    <set>
      <if test="partnerCode != null">
        partner_code = #{partnerCode,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityName != null">
        legal_entity_name = #{legalEntityName,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityCountry != null">
        legal_entity_country = #{legalEntityCountry,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityProvince != null">
        legal_entity_province = #{legalEntityProvince,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityDistrict != null">
        legal_entity_district = #{legalEntityDistrict,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityVillage != null">
        legal_entity_village = #{legalEntityVillage,jdbcType=VARCHAR},
      </if>
      <if test="legalEntityAddress != null">
        legal_entity_address = #{legalEntityAddress,jdbcType=VARCHAR},
      </if>
      <if test="legalEntity != null">
        legal_entity = #{legalEntity,jdbcType=VARCHAR},
      </if>
      <if test="platformEntity != null">
        platform_entity = #{platformEntity,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ai.advance.funding.bean.dto.FundingPartner">
    update funding_partner
    set partner_code = #{partnerCode,jdbcType=VARCHAR},
      legal_entity_name = #{legalEntityName,jdbcType=VARCHAR},
      legal_entity_country = #{legalEntityCountry,jdbcType=VARCHAR},
      legal_entity_province = #{legalEntityProvince,jdbcType=VARCHAR},
      legal_entity_district = #{legalEntityDistrict,jdbcType=VARCHAR},
      legal_entity_village = #{legalEntityVillage,jdbcType=VARCHAR},
      legal_entity_address = #{legalEntityAddress,jdbcType=VARCHAR},
      legal_entity = #{legalEntity,jdbcType=VARCHAR},
      platform_entity = #{platformEntity,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>