<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.advance.funding.mapper.funding.InstitutionLoanMapper">
  <resultMap id="BaseResultMap" type="ai.advance.funding.bean.dto.InstitutionLoan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="institution_code" jdbcType="VARCHAR" property="institutionCode" />
    <result column="platform_loan_id" jdbcType="VARCHAR" property="platformLoanId" />
    <result column="reference_id" jdbcType="VARCHAR" property="referenceId" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="institution_principal" jdbcType="DECIMAL" property="institutionPrincipal" />
    <result column="institution_interest_rate" jdbcType="DECIMAL" property="institutionInterestRate" />
    <result column="institution_upfront_fee" jdbcType="DECIMAL" property="institutionUpfrontFee" />
    <result column="institution_receivable_interest" jdbcType="DECIMAL" property="institutionReceivableInterest" />
    <result column="institution_repaid_principal" jdbcType="DECIMAL" property="institutionRepaidPrincipal" />
    <result column="institution_repaid_interest" jdbcType="DECIMAL" property="institutionRepaidInterest" />
    <result column="institution_start_time" jdbcType="TIMESTAMP" property="institutionStartTime" />
    <result column="institution_end_time" jdbcType="TIMESTAMP" property="institutionEndTime" />
    <result column="institution_actual_end_time" jdbcType="TIMESTAMP" property="institutionActualEndTime" />
    <result column="platform_start_time" jdbcType="TIMESTAMP" property="platformStartTime" />
    <result column="platform_end_time" jdbcType="TIMESTAMP" property="platformEndTime" />
    <result column="platform_actual_end_time" jdbcType="TIMESTAMP" property="platformActualEndTime" />
    <result column="active" jdbcType="BIT" property="active" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, institution_code, platform_loan_id, reference_id, contract_id, channel, status, 
    institution_principal, institution_interest_rate, institution_upfront_fee, institution_receivable_interest, 
    institution_repaid_principal, institution_repaid_interest, institution_start_time, 
    institution_end_time, institution_actual_end_time, platform_start_time, platform_end_time, 
    platform_actual_end_time, active, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from institution_loan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from institution_loan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ai.advance.funding.bean.dto.InstitutionLoan">
    insert into institution_loan (id, institution_code, platform_loan_id, 
      reference_id, contract_id, channel, 
      status, institution_principal, institution_interest_rate, 
      institution_upfront_fee, institution_receivable_interest, 
      institution_repaid_principal, institution_repaid_interest, 
      institution_start_time, institution_end_time, 
      institution_actual_end_time, platform_start_time, 
      platform_end_time, platform_actual_end_time, 
      active, remark, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{institutionCode,jdbcType=VARCHAR}, #{platformLoanId,jdbcType=VARCHAR}, 
      #{referenceId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{institutionPrincipal,jdbcType=DECIMAL}, #{institutionInterestRate,jdbcType=DECIMAL}, 
      #{institutionUpfrontFee,jdbcType=DECIMAL}, #{institutionReceivableInterest,jdbcType=DECIMAL}, 
      #{institutionRepaidPrincipal,jdbcType=DECIMAL}, #{institutionRepaidInterest,jdbcType=DECIMAL}, 
      #{institutionStartTime,jdbcType=TIMESTAMP}, #{institutionEndTime,jdbcType=TIMESTAMP}, 
      #{institutionActualEndTime,jdbcType=TIMESTAMP}, #{platformStartTime,jdbcType=TIMESTAMP}, 
      #{platformEndTime,jdbcType=TIMESTAMP}, #{platformActualEndTime,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ai.advance.funding.bean.dto.InstitutionLoan">
    insert into institution_loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="institutionCode != null">
        institution_code,
      </if>
      <if test="platformLoanId != null">
        platform_loan_id,
      </if>
      <if test="referenceId != null">
        reference_id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="institutionPrincipal != null">
        institution_principal,
      </if>
      <if test="institutionInterestRate != null">
        institution_interest_rate,
      </if>
      <if test="institutionUpfrontFee != null">
        institution_upfront_fee,
      </if>
      <if test="institutionReceivableInterest != null">
        institution_receivable_interest,
      </if>
      <if test="institutionRepaidPrincipal != null">
        institution_repaid_principal,
      </if>
      <if test="institutionRepaidInterest != null">
        institution_repaid_interest,
      </if>
      <if test="institutionStartTime != null">
        institution_start_time,
      </if>
      <if test="institutionEndTime != null">
        institution_end_time,
      </if>
      <if test="institutionActualEndTime != null">
        institution_actual_end_time,
      </if>
      <if test="platformStartTime != null">
        platform_start_time,
      </if>
      <if test="platformEndTime != null">
        platform_end_time,
      </if>
      <if test="platformActualEndTime != null">
        platform_actual_end_time,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="institutionCode != null">
        #{institutionCode,jdbcType=VARCHAR},
      </if>
      <if test="platformLoanId != null">
        #{platformLoanId,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        #{referenceId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="institutionPrincipal != null">
        #{institutionPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="institutionInterestRate != null">
        #{institutionInterestRate,jdbcType=DECIMAL},
      </if>
      <if test="institutionUpfrontFee != null">
        #{institutionUpfrontFee,jdbcType=DECIMAL},
      </if>
      <if test="institutionReceivableInterest != null">
        #{institutionReceivableInterest,jdbcType=DECIMAL},
      </if>
      <if test="institutionRepaidPrincipal != null">
        #{institutionRepaidPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="institutionRepaidInterest != null">
        #{institutionRepaidInterest,jdbcType=DECIMAL},
      </if>
      <if test="institutionStartTime != null">
        #{institutionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="institutionEndTime != null">
        #{institutionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="institutionActualEndTime != null">
        #{institutionActualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformStartTime != null">
        #{platformStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformEndTime != null">
        #{platformEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformActualEndTime != null">
        #{platformActualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ai.advance.funding.bean.dto.InstitutionLoan">
    update institution_loan
    <set>
      <if test="institutionCode != null">
        institution_code = #{institutionCode,jdbcType=VARCHAR},
      </if>
      <if test="platformLoanId != null">
        platform_loan_id = #{platformLoanId,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        reference_id = #{referenceId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="institutionPrincipal != null">
        institution_principal = #{institutionPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="institutionInterestRate != null">
        institution_interest_rate = #{institutionInterestRate,jdbcType=DECIMAL},
      </if>
      <if test="institutionUpfrontFee != null">
        institution_upfront_fee = #{institutionUpfrontFee,jdbcType=DECIMAL},
      </if>
      <if test="institutionReceivableInterest != null">
        institution_receivable_interest = #{institutionReceivableInterest,jdbcType=DECIMAL},
      </if>
      <if test="institutionRepaidPrincipal != null">
        institution_repaid_principal = #{institutionRepaidPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="institutionRepaidInterest != null">
        institution_repaid_interest = #{institutionRepaidInterest,jdbcType=DECIMAL},
      </if>
      <if test="institutionStartTime != null">
        institution_start_time = #{institutionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="institutionEndTime != null">
        institution_end_time = #{institutionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="institutionActualEndTime != null">
        institution_actual_end_time = #{institutionActualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformStartTime != null">
        platform_start_time = #{platformStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformEndTime != null">
        platform_end_time = #{platformEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformActualEndTime != null">
        platform_actual_end_time = #{platformActualEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ai.advance.funding.bean.dto.InstitutionLoan">
    update institution_loan
    set institution_code = #{institutionCode,jdbcType=VARCHAR},
      platform_loan_id = #{platformLoanId,jdbcType=VARCHAR},
      reference_id = #{referenceId,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      institution_principal = #{institutionPrincipal,jdbcType=DECIMAL},
      institution_interest_rate = #{institutionInterestRate,jdbcType=DECIMAL},
      institution_upfront_fee = #{institutionUpfrontFee,jdbcType=DECIMAL},
      institution_receivable_interest = #{institutionReceivableInterest,jdbcType=DECIMAL},
      institution_repaid_principal = #{institutionRepaidPrincipal,jdbcType=DECIMAL},
      institution_repaid_interest = #{institutionRepaidInterest,jdbcType=DECIMAL},
      institution_start_time = #{institutionStartTime,jdbcType=TIMESTAMP},
      institution_end_time = #{institutionEndTime,jdbcType=TIMESTAMP},
      institution_actual_end_time = #{institutionActualEndTime,jdbcType=TIMESTAMP},
      platform_start_time = #{platformStartTime,jdbcType=TIMESTAMP},
      platform_end_time = #{platformEndTime,jdbcType=TIMESTAMP},
      platform_actual_end_time = #{platformActualEndTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>